<footer id="footer">

    <div class="container">
        <h3>Coffee Places</h3>
        <p>Would you like a cup of coffee?</p>
    </div>
    <div class="social-links">
        <a href="#" class="social">
            <i class="fa-brands fa-facebook"></i>
        </a>
                <a href="#" class="social">
            <i class="fa-brands fa-twitter"></i>
        </a>
                <a href="#" class="social">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </div>

    <div class="copyright">
        <p>© Copyright Gian Hernández</p>
    </div>
</footer>